[Unit]
Description=Keyforge Session Manager
Documentation=man:keyforge-session(1)
Documentation=https://github.com/nyrda/keyforge
After=default.target
PartOf=default.target

[Service]
Type=simple
ExecStart=/usr/bin/keyforge-session
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
