[Desktop Entry]
Version=1.0
Name=Keymasq
GenericName=Input Customization Tool
Comment=Customize keyboard, mouse, and gamepad input
Exec=keymasq
Icon=tools.keymasq.keymasq
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
Keywords=keyboard;mouse;gamepad;controller;remap;mapping;macro;customize;
